@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// font-family: 'Roboto', sans-serif;

// Lost Grid Config
@lost flexbox flex;
@lost gutter 20px;

html,body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-size: responsive 16px 18px;
  font-family: 'Roboto', sans-serif;
}

section {
  background-color: rgba(#f00, .3);
}

.grid-container {
  lost-center: 1140px;
  background-color: rgba(#f00, .4);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.grid-item {
  lost-column: 1/4;
  // lost-waffle: 1/3;
  background-color: rgba(#eee, 0.3);
  padding: 10pr;
  box-sizing: border-box;
  margin-bottom: 20pr;
}