@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// font-family: 'Roboto', sans-serif;

// Lost Grid Config
@lost flexbox flex;
@lost gutter 20px;

html,body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-size: responsive 16px 20px;
  font-family: 'Roboto', sans-serif;
}

section {
  // background-color: rgba(#f00, .2);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #f00;
  padding: 0;
}

.item {
  text-align: center;
  margin-bottom: 0 !important;
  transition: all 0.3s ease;
  width: calc(100% / 4 - 20px);
  background-color: #fff;
  border: 1px solid #fff;
  
  &:hover {
    background-color: #fff;
    border: 1px solid #fff;
    transform: scale(1.07);
    box-shadow: 0 25px 15px -20px rgba(#000, .7);
  }
}

.grid-container {
  lost-center: 1140px 4pr;
  // background-color: rgba(#f00, .1);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.grid-item {
  lost-column: 1/4;
  // lost-waffle: 1/3;
  background-color: rgba(#eee, 0.1);
  padding: 10pr;
  box-sizing: border-box;
  margin-bottom: 20pr;
  @media (max-width: 1280px){
    lost-column: 1/3;
  }
  @media (max-width: 768px){
    lost-column: 1/2;
  }
  @media (max-width: 465px){
    lost-column: 1/1;
  }

  img {
    display: block;
    width: 100%;
    height: 200pr;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  
}


@import '_one';